<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Tags </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">ID</ion-label>
      <div item-content>
        <span>{{tags.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Tag</ion-label>
      <div item-content>
        <span>{{tags.tag}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Event</ion-label>
      <div item-content *ngIf="tags.event">
        <a>{{tags.event?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Product</ion-label>
      <div item-content *ngIf="tags.product">
        <a>{{tags.product?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Shop</ion-label>
      <div item-content *ngIf="tags.shop">
        <a>{{tags.shop?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Service</ion-label>
      <div item-content *ngIf="tags.service">
        <a>{{tags.service?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Organization</ion-label>
      <div item-content *ngIf="tags.organization">
        <a>{{tags.organization?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(tags)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(tags)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
