<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Event Comment </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">ID</ion-label>
      <div item-content>
        <span>{{eventComment.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Comment</ion-label>
      <div item-content>
        <span>{{eventComment.comment}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Date</ion-label>
      <div item-content>
        <span>{{eventComment.date | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Event</ion-label>
      <div item-content *ngIf="eventComment.event">
        <a>{{eventComment.event?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>User</ion-label>
      <div item-content>{{eventComment.user?.id}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Event Comment</ion-label>
      <div item-content *ngIf="eventComment.eventComment">
        <a>{{eventComment.eventComment?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(eventComment)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(eventComment)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
