<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Event Product Rating </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">ID</ion-label>
      <div item-content>
        <span>{{eventProductRating.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Like</ion-label>
      <div item-content>
        <span>{{eventProductRating.like}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Dislike</ion-label>
      <div item-content>
        <span>{{eventProductRating.dislike}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Date</ion-label>
      <div item-content>
        <span>{{eventProductRating.date | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Comment</ion-label>
      <div item-content>
        <span>{{eventProductRating.comment}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Product</ion-label>
      <div item-content *ngIf="eventProductRating.product">
        <a>{{eventProductRating.product?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Event</ion-label>
      <div item-content *ngIf="eventProductRating.event">
        <a>{{eventProductRating.event?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>User</ion-label>
      <div item-content>{{eventProductRating.user?.id}}</div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(eventProductRating)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(eventProductRating)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
