<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label> {{ 'TAB1_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entities">
      <ion-icon name="apps"></ion-icon>
      <ion-label> {{ 'TAB2_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="send"></ion-icon>
      <ion-label> {{ 'TAB3_TITLE' | translate }} </ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="events">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label> {{ 'EVENTS_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanner">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label> {{ 'TAB4_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tickets">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label> {{ 'TAB5_TITLE' | translate }} </ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-tab-bar slot="top">
    <!--
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label> {{ 'TAB1_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entities">
      <ion-icon name="apps"></ion-icon>
      <ion-label> {{ 'TAB2_TITLE' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="send"></ion-icon>
      <ion-label> {{ 'TAB3_TITLE' | translate }} </ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="reservations">
      <ion-icon name="id-card-outline"></ion-icon>
      <ion-label> {{ 'TAB5_RESERVATIONEN' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coupons">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label> {{ 'TAB6_COUPONS' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="couponscanner">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label> {{ 'TAB7_COUPONSCANNER' | translate }} </ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
