<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Event Service Map Orders </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let eventServiceMapOrder of eventServiceMapOrders; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(eventServiceMapOrder)">
        <ion-label text-wrap>
          <p>{{eventServiceMapOrder.id}}</p>
          <p>{{eventServiceMapOrder.date | date:'medium'}}</p>
          <p>{{eventServiceMapOrder.dateFrom | date:'medium'}}</p>
          <p>{{eventServiceMapOrder.dateUntil | date:'medium'}}</p>
          <p>{{eventServiceMapOrder.costHour}}</p>
          <p>{{eventServiceMapOrder.rideCosts}}</p>
          <p>{{eventServiceMapOrder.total}}</p>
          <p>{{eventServiceMapOrder.totalHours}}</p>
          <p>{{eventServiceMapOrder.kilometre}}</p>
          <p>{{eventServiceMapOrder.billed}}</p>
          <p>{{eventServiceMapOrder.seen}}</p>
          <p>{{eventServiceMapOrder.approved}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, eventServiceMapOrder)">
          {{ 'EDIT_BUTTON' | translate }}
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(eventServiceMapOrder)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!eventServiceMapOrders?.length">
    <ion-label> No Event Service Map Orders found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
